.place__element {
    margin: 0;
    padding: 0;
}

.place__element:nth-child(2n+2) {
    margin-top: 26px;
}

@media screen and (max-width: 768px) {
    .place__element:nth-child(2n+2) {
        margin-top: 25px;
    }
}