.places {
    padding: 92px 11.6vw 0;
    margin: 0;
    position: relative;
    max-width: 928px;
    min-width: 73vw;
    display: grid;
}

@media screen and (max-width: 1024px) {
    .places {
        /**/
        padding: 92px 4.7vw 0;
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding: 88px 3.1vw 0;
    }
}

@media screen and (max-width: 320px) {
    .places {
        padding: 64px 0;
    }
}