.cover__subtitle {
    min-width: 360px;
    max-width: 27vw;
    margin: 35px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}


@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin: 16px;
        font-size: 14px;
        line-height: 1.14;
        min-width: 288px;

    }
}