.header {
    position: relative;
    max-width: 88vw;
    padding: 28px 3.8vw 0;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*border: solid red 1px;*/
}

