.lead__title {
    margin: 0;
    padding: 0;
    min-width: 720px;
    max-width: 70%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: white;
}