.lead__title {
    margin: 0 auto;
    padding: 0;
    min-width: 720px;
    max-width: 70%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .lead__title {
        min-width: 288px;
        max-width: 90vw;

    }
}

@media screen and (max-width: 456px) {
    .lead__title {
        font-size: calc(42px + 3.2vw);
    }

}

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 42px;
    }
}

/*
@media screen and (max-width: 320px){
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}*/
