.intro {
    margin: 0 auto;
    padding: 114px 34vw 0 11.6vw;
    position: relative;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 27vw 0 4.7vw;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 3.1vw 0 3.1vw;
        max-width: 720px;
    }
}